body{
    background-color: #F0F0F0;
    display: inline-block; /* lightgray background*/
}

/*All containers*/
.container{
    margin: 0;
    max-width: 100%;
}
.nav-container {
    background-color: white;
}
/*Top grey bar*/
.gery-row-height {
    background-color: #F0F0F0;
    padding: 2em;
}
.nav-headings-container{
    background-color: #F0F0F0;
}
/* Navigation logo image display*/
.logo-img {
    margin-top: -2em;
    margin-bottom: -2em;
    width: 50%;
    margin-left: 25%;
}
.code-top{
    margin-top: 2em;
}
/*links*/
.nav-heading-link {
    line-height: 3em;
    margin-left: 1em;
    font-size: 1.5em;
}
/*link actions*/
a:link {
    color: black;
    font-family: 'Abel', sans-serif;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: blue;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: white;
    border: .5em white solid;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    margin: .5em .5em;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

h5{
    top: 3%;
    left: 3%;
    border-radius: 50%;
    height: 94%;
    width: 94%;
    position: relative;
    text-align: center;
    line-height: 170px;
    color: white;
    font-size: xx-large;
    font-family: Anton Regular;
    font-weight: bold;
}

h5.design{
    background-color: #e6563b;
}

h5.develop{
    background-color: #e79e3d;

}

h5.support{
    background-color: #7cb06c;

}

h5.host{
    background-color: #00aba9;

}

.visual{
    margin: 2em 1em;
}

@media screen and (max-width: 576px){

}