body{
    background-color: lightgray;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: white;
    border: .5em white solid;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    margin: .5em .5em;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

h5{
    top: 3%;
    left: 3%;
    border-radius: 50%;
    height: 94%;
    width: 94%;
    position: relative;
    text-align: center;
    line-height: 170px;
    color: white;
    font-size: xx-large;
    font-family: Anton Regular;
    font-weight: bold;
}

h5.design{
    background-color: #e6563b;
}

h5.develop{
    background-color: #e79e3d;

}

h5.support{
    background-color: #7cb06c;

}

h5.host{
    background-color: #00aba9;

}

.visual{
    margin: 2em 1em;
}

img{
    height: 50%;
    width: 50%;
    align-content: center;
    margin-left: 25%;
    background-size: cover;
}

.imgbackground{
    background-color: white;
    height: 20px;
}

.container{
    margin: 0;
    max-width: 100%;
}

.jumbotron{
    padding: 0;
    background-color: lightgray;
}